@import "Buttons.scss";

ControlPanel {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .control-buttons {
    position: absolute;
    pointer-events: all;
    width: 100%;
    height: 95px;
    top: 0;
    margin-right: 50px;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
  }
}