@using Sandbox;

@namespace VNBase.UI
@inherits SubPanel

@if ( !Player.IsValid() )
{
    return;
}

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
    <div class="header">
        <label class="title">History</label>
    </div>

    <div class="history">
        @foreach ( var entry in Player.DialogueHistory )
        {
            <div class="dialogue">
                @if ( entry.Dialogue.Speaker.IsValid() )
                {
                    <div class="character" style="color: @entry.Dialogue.Speaker.NameColor.Rgba">@(entry.Dialogue.Speaker.Name):</div>
                }
                <div class="text">@(entry.Dialogue.Text)</div>
            </div>
        }
    </div>

    <div class="footer">
        <button icon="close" @onclick="@ToggleVisibility">Close</button>
    </div>
</root>
