{
  "DestroyLobbyWhenHostLeaves": true,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "99a066b6-eac0-4dd8-bdb8-ccd82a631b5d",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}