@using System.Linq;
@using Sandbox;

@namespace VNBase.UI
@inherits SubPanel

@if ( !Player.IsValid() )
{
    return;
}

<root class="centered @( HasChoices ? "" : "hidden" )">
    @if ( HasChoices && Player.State.IsDialogueFinished )
    {
        <div class="choicePanel">
            @foreach ( var choice in Player.State.Choices )
            {
                var environment = Player.ActiveScript?.GetEnvironment();
                string text = choice.Text;
                var isAvailable = environment is not null && choice.IsAvailable( environment );

                <button class="choice @( isAvailable ? "" : "hidden" )" @onclick="@( () => ExecuteChoice( choice ) )">
                    @text
                </button>
            }
        </div>
    }
</root>
